.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* フォーム全体を中央にする */
}

.title {
  font-size: 2.5rem; /* h1 のサイズを大きく */
  margin-bottom: 20px;
  color: #333;
}

.title h2 {
  font-size: 1rem; /* h2 のサイズを小さく */
  margin-bottom: 30px;
  color: #333;
}

.ticketInfo {
  text-align: center;
  color: #ff0000; /* 赤字にする */
  margin-bottom: 30px;
}

.labelWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.labelWrapper label {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #555;
  text-align: left; /* ラベルも中央寄せ */
}

.input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  width: 80%; /* スマホでは全体幅に合わせる */
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  margin: 10px auto; /* スマホでは中央寄せ */
  display: block; /* 縦に並べる */
}

.input:focus {
  border-color: #007bff;
  outline: none;
}

.submitButton {
  background-color: #c300ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  margin: 0 auto; /* スマホでは中央寄せ */
}

.submitButton:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.submitButton:hover:not(:disabled) {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 1rem;
  text-align: center;
  margin-top: 20px;
}

/* スマホ画面に対応するメディアクエリ */
@media (max-width: 600px) {
  .container {
    width: 90%; /* スマホでは少し狭くする */
    padding: 10px; /* 縮めたpadding */
  }

  .title {
    font-size: 1.8rem; /* スマホでは少し小さく */
  }

  .title h2 {
    font-size: 0.8rem; /* スマホではさらに小さく */
  }

  .ticketInfo {
    margin-bottom: 15px; /* 縮めたmargin */
  }

  .labelWrapper label {
    font-size: 1rem; /* スマホでは小さく */
    text-align: left; /* ラベルも中央寄せ */
  }

  .input {
    width: 80%; /* 全体幅に合わせる */
    margin: 10px auto; /* スマホでは中央寄せ */
    display: block; /* 縦に並べる */
  }

  .submitButton {
    font-size: 1rem; /* スマホでは小さく */
    padding: 8px 16px; /* 縮めたpadding */
  }

  .error {
    font-size: 0.9rem; /* スマホではさらに小さく */
  }
}
